<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe HomePage</title>
    <link rel="stylesheet" href="/styles/css/bootstrap.css"/>
    <script src="/styles/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="../static/styles/css/bootstrap.css" crossorigin="anonymous" ,
          th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">
    <script src="../static/styles/js/bootstrap.bundle.js"
            th:href="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>


</head>
<body>

<div class="container-fluid" style="margin-top: 50px">

    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="card ">

                <div class="card-title bg-primary text-white">
                    <h1 class="pd-Left15">Wellcome to Recipe Project</h1>
                </div>

                <div class="card-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(recipes)}">
                        <table class="table table-hover text-center">
                            <THEAD>
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                                <th>View Recipe</th>
                                <th>Update Recipe</th>
                                <th>Delete Recipe</th>
                            </tr>
                            </THEAD>
                            <tr th:each="recipe: ${recipes} ">
                                <td th:text="${recipe.id}"></td>
                                <td th:text="${recipe.description}"></td>
                                <td><a th:href="@{'/recipe/'+${recipe.id} + '/show'} ">View</a></td>
                                <td><a th:href="@{'/recipe/' + ${recipe.id} + '/update'}">Update</a></td>
                                <td><a th:href="@{'/recipe/' + ${recipe.id} + '/delete'}">Delete</a></td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

</body>
</html>


